# Vim
*.swp

# emacs
*~

# ensime
.ensime
.ensime_cache

# sbt
target
/project/build
/leon
/setupenv
/leon-bench
/.test-history

# synthesis
derivation*.dot

# leon
last.log
*.last
*.table
*.log

#eclipse
.cache
.classpath
.project
.settings/
.worksheet/
testingSheet.sc

#intellij
.idea
Leon.eml
Leon.iml
bin

#z3
.z3-trace

travis/builds
