language: scala

scala:
    - 2.11.2
jdk:
    - oraclejdk7

branches:
    only:
        - master

notifications:
    email:
        - ekneuss@gmail.com
        - philippe.suter@gmail.com
        - regwblanc@gmail.com
    irc: "chat.freenode.net#epfl-lara"

before_script:
    - sbt compile
    - sbt script
    - source travis/fetchCVC4.sh

script:
    - sbt test
