html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, Sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('/assets/images/lionbkg.png');
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 25px 15px;
    height: 100%;
}

h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

p, li {
    text-align: justify;
}

a {
    color: #1133CC;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.contentbox {
    position: relative;
    left: 320px;
    padding: 0px;
    margin: 0px;
}

div#title {
    height: 80px;
    width: 700px;
    min-height: 80px;
    max-height: 80px;
    background-image: url('/assets/images/leonlogo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

div#leonmain {
}

div#console {
    background-color: #EEEEEE;
}

div#contact {
    position: absolute;
    top: 410px; 
    left: 25px;
    width: 290px;
}

div#allcontent {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

div#poweredby {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 1020px;
    height: 50px;
    text-align: center;
    display: table-cell;
    background-color: #FFFFFF;
}

div#beforefooter {
    margin-bottom: 50px;
}

.smallnote {
    font-size: 10px;
}

div#codecolumn {
    float: left;
    padding: 0px 10px;
    width: 700px;
}

div#selectcolumn {
    float: left;
    max-width: 320px;
    padding: 10px;
}

img {
    border-style: none;
    border-width: 0px;
    margin: 0px;
}

hr {
    border: none 0;
    border-top: 1px dashed #000;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 5px;
}

#askbutton {
    margin: 460px 0px 5px 0px;
    background-color: transparent;
    border: 1px solid #666666;
    width: 700px;
}

td.date {
    text-align:right;
}

div#codebox {
    border-style: none;
    background-color: rgba(255,255,255,0.5);
    border: 1px dashed #333;
    width: 700px;
    height: 450px;
    position: absolute;
}

div#codebox div.ace_gutter {
    background-color: rgba(220,220,220,0.3) !important;
}
div#codebox div.ace_gutter_active_line {
    background-color: rgba(220,220,220,0.5) !important;
}

textarea#consolebox {
    font-family: "Lucida Console", monospace;
    font-size: 11px;
    width: 700px;
    height: 250px;
    border: none;
    background-color: #EEEEEE;
    padding: 0px;
    margin: 0px; 
    resize: vertical;
}

.consoletext {
    font-family: "Lucida Console", monospace;                                                     
    font-size: 11px;
}
